@using MoviePoster.InversionOfControl;
@using MoviePoster.Entities;
@{
    if (User.Identity.IsAuthenticated)
    {
        Response.Redirect("~"); 
    }
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    string login = Request["name"];
    string pass = Request["pass"];
    string warning = string.Empty;
    int count = Convert.ToInt32(Request["count"]);
    if (IsAjax)
    {

        if (login != null && pass != null && login != "" && pass != "")
        {
            var userLogic = DependencyResolver.UserLogic;
            if (login.Contains('@') && userLogic.IsRegistered(email: login)
                    || userLogic.IsRegistered(login))
            {
                if (userLogic.IsAuthorized(pass, login)
                    || (userLogic.IsAuthorized(pass, email: login)))
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        FormsAuthentication.SignOut();
                    }
                    FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);
                    Response.Write(@"<div id=""registration"">Success!</div>");
                }
                else
                {
                    Response.Write(@"<div id=""registration"">Wrong password.</div>");
                }

                //  Response.AddHeader("REFRESH", "3;URL=/Pages/Signup");
                //FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);
                // Message about user's not been registered.
            }
            else
            {
                Response.Write(@"<div id=""registration"">Wrong login or password.</div>");
                // Handle exception
            }

        }
        else
        {
            Response.Write(@"<div id=""registration"">Fill login and password fields.</div>");
        }
    }

}

<h1> Login page</h1>
<form id="loginForm">

    <div class="warning"></div>
    <div class="">
        <label>Login or email: </label>
        <input class="form-control" style="width:200px" type="text" name="name" id="name" value=@login />
    </div>
    <div class="" style="display:inline">
        <label>Password: </label>
        <input class="form-control" style="width:200px" type="password" name="pass" id="pass" value=@pass />
    </div>
    <button id="btn" class="btn btn-primary" style="width:200px">Register</button>

</form>

<script src="~/Scripts/jquery-1.8.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#loginForm').on('submit', function (e) {
            e.preventDefault();
            e.stopPropagation(); // only neccessary if something above is listening to the (default-)event too

            var data = $("#loginForm").serialize();
            $.ajax({
                type: "post",
                url: "/Pages/Login.cshtml",
                data: data,
                success: function (data) {
                    //Create jQuery object from the response HTML.
                    var $response = $(data);

                    //Query the jQuery object for the values
                    var result = $response.filter('#registration').text();
                    if (result == 'Success!') {
                        window.location.href = "/index";
                    };
                    $(".warning").html('Status: success.' + result);
                },
                error: function (result) {
                    $(".warning").innerText = 'Status: error. Wrong login, \
                    email or password. Try again.';
                }
            })
        });
    })

</script>